@charset "UTF-8";

.SearchSectionContent {
    padding: 10px 10px 30px 10px;

    border-bottom:1px solid #9999996e ;
}

.title {
    margin-bottom: 20px;
}

.input {
    display: block;
    
    width: 400px; 
    
    padding: 7px;

    background-color: rgb(40, 40, 40);
    color: #fafafa;
}