@charset "UTF-8";

.SearchSectionContent {
    padding: 10px 10px 20px 10px;

    border-bottom:1px solid white ;
}

.title {
    margin-bottom: 10px;
}

.input {
    display: block;
    
    width: 400px; 
    
    margin: auto;
    padding: 7px;
}