@charset "UTF-8";

.TasksSectionContent {
    display: flex;
    flex-direction: column;
    gap: 15px;

    padding: 10px;
}

.divTask {
    display: flex;
    justify-content: space-between;
    
    padding: 20px;

    border-radius: 10px;

    background-color: rgb(40, 40, 40);
}

.conclude {
    padding: 7px 10px;
    margin-right: 15px;

    cursor: pointer;
    border: 0px;
    border-radius: 10px;
    
    background-color: #0056B3;
    color: #fafafa;
} 

.delete {
    padding: 7px 10px;

    cursor: pointer;
    border: 0px;
    border-radius: 10px;

    background-color: #0056B3;
    color: #fafafa;
}

.taskCompleted {
    text-decoration: line-through;
}

.pendant {
    padding: 7px 10px;
    margin-right: 15px;

    cursor: pointer;
    border: 0px;
    border-radius: 10px;

    background-color: rgb(250, 68, 68);
    color: #fafafa;
}

.noTasks {  
    padding: 20px;
    
    text-align: center;
    font-size: 1.3em;

    color: #999999;
}
